.nav{
    padding: 1rem 0;
    font-size:16px;
    min-width: 920px;
}
.nav li{
    text-align: center;
    display:inline;
    padding:0 2rem;
}
.nav li:last-child{
    float:right;
}
.search-box{
    line-height: 1.5rem;
    border:0px;
    border-radius: 1rem;
    outline:none;
    padding-left:1rem;
}
aside{
}
.content-title{
    font: 4rem Verdana;
    text-align:center;
    padding:3rem 3rem 0.4rem;
}
.content-skill{
    font: 1.2rem Droid Sans;
    padding:1rem 1rem;
}
.content-skill li{
    display:inline-block;
}
.content-skill ul{
    text-align: center;
}
.skill-one li,.skill-two li{
    background-color:hsla(0,0%,100%,.4);
    border:1px solid;
    border-radius:0.2rem;
    outline:none;
    margin:1rem 1rem;
    padding:0 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #888888;
}
.content-icon{
    text-align: center;
}
.content-icon img{
    width:3rem;
    height:3rem;
}
article{
    /*font-size:16px;*/
}
.top-box .abstract{
    height: 5rem;
    margin-right:4rem;
    /*margin-top:4rem;*/
    padding:0.5rem;
    background-color:hsla(0,0%,100%,.5);
}
.cont{
    height: 26rem;
    margin-right:0.5rem;
    padding:0.5rem;
    background-color:hsla(0,0%,100%,.5);
}
.aside-bar{
    height: 26rem;
    margin-right:4rem;
    padding:0.5rem;
    background-color:hsla(0,0%,100%,.5);
}
.foot-wrap p{
    font-size: 1.3rem;
}