.content-test{
    width:100%;
    margin-top:5rem;
    padding-bottom: 3rem;
    overflow-x: hidden;
    min-height: 100%;
}
#db-cont{
    width:72%;
    height:650px;
    padding-bottom: 7rem;
    margin:0 auto;
    background-color:hsla(0,0%,100%,.5);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px;
    overflow-y: scroll;
}
#db-cont img{
    height: 377px;
    width:25%;
}

.foot-wrap{
    margin-top:-3rem;
}