/* slightly enhanced, universal clearfix hack */
*{margin:0px;padding:0px;}
html,body{
    font-size: 16px;
    /*页脚始终保持在底端*/
    /*height:100%;*/
    margin:0 auto;
}
body{
    background:#000103 url(../img/backgroundimage1.jpg) no-repeat fixed;
    background-size: cover;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
    display: table;
    width: 100%;
}
/*公共容器*/
.wrapper{
    font-size:30px;
    position:relative;
    width:100%;
    margin:0px auto;
    height: 100%;
    max-width: 1800px;
}
/*公共导航栏*/
.head{
    position:fixed;
    width:100%;
    top:0rem;
    left:0rem;
    height:3.5rem;
    margin-bottom:0.2rem;
    z-index:97;
    background: hsla(0,0%,100%,.8);
}
.nav{
    padding: 1rem 0;
    font-size:16px;
    min-width: 920px;
}
.nav li{
    text-align: center;
    display:inline;
    padding:0 2rem;
}
.nav li:last-child{
    float:right;
}
.search-box{
    line-height: 1.5rem;
    border:0px;
    border-radius: 1rem;
    outline:none;
    padding-left:1rem;
}
.head a{
    text-decoration:none;
}
.head a:link{
    color:black;
}
.head a:visited{
    color:black;
}
/*公共footer*/
.foot-wrap{
    margin:-4rem auto 0 auto;
    text-align: center;
}
.foot-wrap p{
    font-size: 1.3rem;
}
/*滚动条*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 0.5rem;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0.4rem rgba(0,0,0,0.3);
    border-radius: 0.5rem;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 0.4rem rgba(0,0,0,.3);
    background-color: #bdb6b6;
}

.head-active{
    font-size:1rem;
    z-index:96;
    position:fixed;
    width:100%;
    height:2.5rem;
    top:0;
    right:0;
    background-color: #333333;
    display:none;
}
.head-active .nav-bar{
    position:relative;
    top:1rem;
    left:88%;
    background-color: #fff;
    width:10%;
    height: 0.2rem;
    display:block;
}
.head-active .nav-bar:before,.head-active .nav-bar:after{
    content:' ';
    display:block;
    background-color: #fff;
    width:100%;
    height:100%;
    position: absolute;
}
.head-active .nav-bar:before{
    margin-top:-0.5rem;
}
.head-active .nav-bar:after{
    margin-top:0.5rem;
}
.head-active ul{
    display:none;
}
.head-active li{
    text-align: center;
}
.head-active li a{
    text-decoration: none;
    color:#fff;
}
.head-active .search-box{
    background-color: #d3d5d8;
}
.nav-active{
    padding:0.4rem 0;
    background: rgba(0,0,0,0.6);
}
.nav-active li{
    margin-bottom: 0.3rem;
}
.nav-bar-active{
    width:100%;
    height: 100%;
}

@media screen and (max-width:940px){
    .head-active{
        display:block;
    }
}