/* slightly enhanced, universal clearfix hack */
*{margin:0px;padding:0px;}
html,body{
    font-size: 16px;
    /*页脚始终保持在底端*/
    /*height:100%;*/
    margin:0 auto;
}
body{
    background:#000103 url(../img/backgroundimage1.jpg) no-repeat fixed;
    background-size: cover;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
    display: table;
    width: 100%;
}
/*公共容器*/
.wrapper{
    font-size:30px;
    position:relative;
    width:100%;
    margin:0px auto;
    height: 100%;
    max-width: 1800px;
}
/*公共导航栏*/
.head{
    position:fixed;
    width:100%;
    top:0rem;
    left:0rem;
    height:3.5rem;
    margin-bottom:0.2rem;
    z-index:97;
    background: hsla(0,0%,100%,.8);
}
.nav{
    padding: 1rem 0;
    font-size:16px;
    min-width: 920px;
}
.nav li{
    text-align: center;
    display:inline;
    padding:0 2rem;
}
.nav li:last-child{
    float:right;
}
.search-box{
    line-height: 1.5rem;
    border:0px;
    border-radius: 1rem;
    outline:none;
    padding-left:1rem;
}
.head a{
    text-decoration:none;
}
.head a:link{
    color:black;
}
.head a:visited{
    color:black;
}
/*公共footer*/
.foot-wrap{
    margin:-4rem auto 0 auto;
    text-align: center;
}
.foot-wrap p{
    font-size: 1.3rem;
}
/*滚动条*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #bdb6b6;
}